[Desktop Entry]
Name=Upgrade Tool
Name[be]=Абнаўленне
Name[ca]=Eina d'actualització
Name[cy]=Teclyn Diweddaru
Name[da]=Opgraderingsværktøj
Name[de]=Aktualisierungswerkzeug
Name[el]=Εργαλείο αναβάθμισης
Name[eo]=Promociilo
Name[es]=Herramienta de actualización
Name[et]=Uuendamise tööriist
Name[eu]=Bertsio-berritze tresna
Name[fi]=Versiopäivitys työkalu
Name[fr]=Outil de mise à niveau
Name[fr_CA]=Outil de mise à niveau
Name[he]=כלי שדרוג
Name[hi]=अपग्रेड साधन
Name[hr]=Alat nadogradnje
Name[hu]=Rendszermegújító
Name[is]=Uppfærsluforrit
Name[it]=Strumento di Aggiornamento
Name[ja]=アップグレードツール
Name[ko]=업그레이드 도구
Name[nl]=Opwaarderingsgereedschap
Name[oc]=Aisina de mesa a nivèl
Name[pl]=Narzędzie aktualizacji
Name[pt]=Ferramenta de atualização
Name[pt_BR]=Ferramenta de atualização
Name[ru]=Средство обновления версии
Name[sl]=Nadgradno Orodje
Name[sv]=Uppgraderingsverktyg
Name[tr]=Yükseltme Aracı
Name[uz]=Yangilash vositasi
Name[zh_CN]=升级工具
Comment=Upgrade Tool
Comment[be]=Абнаўленне
Comment[ca]=Eina d'actualització
Comment[cy]=Teclyn Diweddaru
Comment[da]=Opgraderingsværktøj
Comment[de]=Aktualisierungswerkzeug
Comment[el]=Εργαλείο αναβάθμισης
Comment[eo]=Promociilo
Comment[es]=Herramienta de actualización
Comment[et]=Uuendamise tööriist
Comment[eu]=Bertsio-berritze tresna
Comment[fi]=Versiopäivitys työkalu
Comment[fr]=Outil de mise à niveau
Comment[fr_CA]=Outil de mise à niveau
Comment[he]=כלי שדרוג
Comment[hi]=अपग्रेड साधन
Comment[hr]=Alat nadogradnje
Comment[hu]=Rendszermegújító
Comment[is]=Uppfærsluforrit
Comment[it]=Strumento di Aggiornamento
Comment[ja]=アップグレードツール
Comment[ko]=업그레이드 도구
Comment[nl]=Opwaarderingsgereedschap
Comment[oc]=Aisina de mesa a nivèl
Comment[pl]=Narzędzie aktualizacji
Comment[pt]=Ferramenta de atualização
Comment[pt_BR]=Ferramenta de atualização
Comment[ru]=Средство обновления версии
Comment[sl]=Nadgradno Orodje
Comment[sv]=Uppgraderingsverktyg
Comment[tr]=Yükseltme Aracı
Comment[uz]=Yangilash vositasi
Comment[zh_CN]=升级工具
Exec=bash -c 'sudo mintupgrade;$SHELL'
Icon=mintupgrade
Terminal=true
Type=Application
Encoding=UTF-8
Categories=GTK;GNOME;Utility;X-GNOME-Utilities;
Keywords=project;keywords;
StartupNotify=false
NoDisplay=true
